<link href="http://getbootstrap.com/assets/css/docs.min.css" rel="stylesheet">
<main class="bs-masthead" id="content" role="main">
  <div class="container">
    <span class="bs-booticon bs-booticon-lg bs-booticon-outline">N</span>
    <!-- <h1>Bootstrap</h1> -->
    <p class="lead">NXT Trading made easy.</p>
    <p class="lead">
      <%= link_to "Sign Up", new_user_registration_path, :class => "btn btn-outline-inverse btn-lg" %>
    </p>
  </div>
</main>
