<% if user_signed_in? %>
	<div class="col-sm-offset-2 col-md-offset-2">
		<% flash.each do |name, msg| %>
		  <% if msg.is_a?(String) %>
		    <div class="alert alert-<%= name == :notice ? "success" : "danger" %>">
		      <a class="close" data-dismiss="alert">&#215;</a>
		      <%= content_tag :div, msg, :id => "flash_#{name}" %>
		    </div>
		  <% end %>
		<% end %>
	</div>
	<br>
<% else %>
	<% flash.each do |name, msg| %>
	  <% if msg.is_a?(String) %>
	    <div class="alert alert-<%= name == :notice ? "success" : "danger" %>">
	      <a class="close" data-dismiss="alert">&#215;</a>
	      <%= content_tag :div, msg, :id => "flash_#{name}" %>
	    </div>
	  <% end %>
	<% end %>
<% end %>