<div class="modal fade" id="my-modal">
  <div class="modal-dialog">
  <div class="modal-content">
  <div class="modal-header">
    <button aria-hidden="true" class="close" data-dismiss="modal" type="button">×</button>
    <h4 id="myModalLabel"></h4>
  </div>
  <div class="modal-body a-unique-class">
  </div>
  <div class="modal-footer">
    <button aria-hidden="true" class="btn" data-dismiss="modal">Close</button>
  </div>
</div>
</div>
</div>
